In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv('movies_metadata.csv')

/home/streetraider92/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
data = data.loc[(data.adult != True) & (data.original_language == 'en')]

In [4]:
len(data)

32269

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32269 entries, 0 to 45465
Data columns (total 24 columns):
adult                    32269 non-null object
belongs_to_collection    3113 non-null object
budget                   32269 non-null object
genres                   32269 non-null object
homepage                 6166 non-null object
id                       32269 non-null object
imdb_id                  32256 non-null object
original_language        32269 non-null object
original_title           32269 non-null object
overview                 32200 non-null object
popularity               32267 non-null object
poster_path              31946 non-null object
production_companies     32267 non-null object
production_countries     32267 non-null object
release_date             32202 non-null object
revenue                  32267 non-null float64
runtime                  32261 non-null float64
spoken_languages         32267 non-null object
status                   32199 non-null object
tagline                  17933 non-null object
title                    32267 non-null object
video                    32267 non-null object
vote_average             32267 non-null float64
vote_count               32267 non-null float64
dtypes: float64(4), object(20)
memory usage: 6.2+ MB

In [10]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [11]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
data = data.loc[data.release_date > '1990-01-01']

In [13]:
data = data[['imdb_id', 'original_title', 'genres', 'overview']]

In [14]:
data['genres'] = data['genres'].str.replace('id', '').str.replace(':', '').str.replace('name', '')

In [15]:
data['genres'] = data['genres'].str.replace('\d+', '')

In [16]:
data['genres']  = data['genres'].str.replace(',', '')

In [17]:
data['genres'] = data['genres'].str.replace("{", '')

In [18]:
data['genres'] = data['genres'].str.replace("}", '')

In [19]:
data['genres'] = data['genres'].str.replace("[", '')

In [20]:
data['genres'] = data['genres'].str.replace("]", '')

In [21]:
data['genres'] = data['genres'].str.replace(" ", ',')

In [22]:
data['genres'] = data['genres'].str.replace("'", '')

In [23]:
data.head()

,imdb_id,original_title,genres,overview
0,tt0114709,Toy Story,",,,Animation,,,,Comedy,,,,Family","Led by Woody, Andy's toys live happily in his ..."
1,tt0113497,Jumanji,",,,Adventure,,,,Fantasy,,,,Family",When siblings Judy and Peter discover an encha...
2,tt0113228,Grumpier Old Men,",,,Romance,,,,Comedy",A family wedding reignites the ancient feud be...
3,tt0114885,Waiting to Exhale,",,,Comedy,,,,Drama,,,,Romance","Cheated on, mistreated and stepped on, the wom..."
4,tt0113041,Father of the Bride Part II,",,,Comedy",Just when George Banks has recovered from his ...

In [24]:
data['genres'] = data['genres'].str.replace(",,,", ',')

In [25]:
data['genres'] = data['genres'].str.replace(",,", ',')

In [26]:
data['genres'] = data['genres'].str.lstrip(',')

In [27]:
data.head()

,imdb_id,original_title,genres,overview
0,tt0114709,Toy Story,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ..."
1,tt0113497,Jumanji,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...
2,tt0113228,Grumpier Old Men,"Romance,Comedy",A family wedding reignites the ancient feud be...
3,tt0114885,Waiting to Exhale,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom..."
4,tt0113041,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...

In [28]:
new_data = data.dropna()

In [29]:
len(new_data)

20884

In [30]:
new_data = new_data.drop_duplicates()

In [31]:
len(new_data)

20874

In [32]:
data = data.loc[data.overview.notnull()]

In [33]:
data['overview_new']  = data['overview'].apply(lambda x: x.translate ({ord(c): " " for c in "!@#$%^&*()[]{};:,/<>?\|`~-=_+"}))

In [34]:
len(data)

20893

In [31]:
data.head()

,imdb_id,original_title,genres,overview,overview_new
0,tt0114709,Toy Story,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ...",Led by Woody Andy's toys live happily in his ...
1,tt0113497,Jumanji,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...,When siblings Judy and Peter discover an encha...
2,tt0113228,Grumpier Old Men,"Romance,Comedy",A family wedding reignites the ancient feud be...,A family wedding reignites the ancient feud be...
3,tt0114885,Waiting to Exhale,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom...",Cheated on mistreated and stepped on the wom...
4,tt0113041,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...,Just when George Banks has recovered from his ...

In [35]:
data['genres'] = data['genres'].str.replace('Science,Fiction', 'Sci-Fi')

In [36]:
data.to_csv('clean_movie_data.csv')