In [1]:
import pandas as pd
import json
import ast
import urllib.request
import numpy as np
import cv2
import matplotlib.pyplot as plt
import numpy as np

In [2]:
with open('meta_Office_Products.json') as f:
    data= [line.rstrip() for line in f]

In [3]:
df = [ast.literal_eval(item) for item in data]

In [4]:
new_df = pd.DataFrame(df)

In [5]:
len(new_df)

134838

In [6]:
new_df.head()

,asin,brand,categories,description,imUrl,price,related,salesRank,title
0,0078800242,NaN,"[[Office Products, Office & School Supplies, C...",All in one TeacherWorks Plus CD-ROM,http://ecx.images-amazon.com/images/I/41K1aBkl...,93.06,{'buy_after_viewing': ['007861970X']},{'Software': 18529},NaN
1,0113000316,NaN,"[[Office Products, Office & School Supplies, P...",High quality inkjet cartridges use high-densit...,http://ecx.images-amazon.com/images/I/51AMwP3D...,NaN,NaN,NaN,123GetInk -14-pack 5-black 3-cyan 3-magenta 3-...
2,043928631X,NaN,"[[Office Products, Office & School Supplies, L...","Harry Potter living bookmark showing Harry, He...",http://ecx.images-amazon.com/images/I/41SulB7T...,NaN,NaN,NaN,Harry Potter Lenticular Hologram Bookmark - Ha...
3,0439340039,NaN,"[[Office Products, Office & School Supplies, E...",Windows based computer game.,http://ecx.images-amazon.com/images/I/51zQE0w%...,NaN,NaN,{'Software': 32784},NaN
4,0439394058,Scholastic,"[[Office Products, Office & School Supplies, E...","126 pieces: 23"" tall schoolhouse calendar, 12 ...",http://ecx.images-amazon.com/images/I/51DFp0Lg...,11.64,"{'also_bought': ['B000QE1HHU', 'B00207MG4Y', '...",NaN,Scholastic SC939405 All-In-One Schoolhouse Cal...

In [7]:
new_df = new_df[['description', 'imUrl', 'title']]

In [8]:
new_df = new_df.dropna()

In [9]:
len(new_df)

124331

In [10]:
new_df = new_df.loc[new_df.imUrl.str.contains('jpg')]

In [11]:
len(new_df)

123711

In [12]:
new_df = new_df.reset_index(drop = True)

In [13]:
df_subset = new_df.sample(70000,random_state=42)

In [14]:
len(df_subset)

70000

In [15]:
df_subset = df_subset.reset_index(drop = True)

In [16]:
len(df_subset)

70000

In [17]:
df_subset.head(3)

,description,imUrl,title
0,Item TAXCVR610\n\nUse this tax return cover fo...,http://ecx.images-amazon.com/images/I/31GQFtyz...,EGP Income Tax Return Cover
1,Compatible Magenta High Capacity Epson Toner C...,http://ecx.images-amazon.com/images/I/31XtfnUA...,Compatible Magenta High Capacity Epson Toner C...
2,The iPaperPad is not magical or revolutionary....,http://ecx.images-amazon.com/images/I/31TefcCO...,iPaperPad - a paper pad not an iPad

In [18]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/streetraider92/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
df_subset['description_new']  = df_subset['description'].apply(lambda x: x.translate ({ord(c): " " for c in "!@#$%^&*()[]{};:,/<>?\|`~-=_+"}))

In [21]:
df_subset['description_new'] = df_subset['description_new'].str.replace('  ', ' ').str.replace('   ', ' ')

In [22]:
df_subset['description'].loc[7329]

'Purchase includes one 32" x 32" x 32" single wall box. Extra creases and small tears may be found due to shipping and handling but are not considered defective or damaged for returns.'

In [23]:
df_subset['description_new'].loc[7329]

'Purchase includes one 32" x 32" x 32" single wall box. Extra creases and small tears may be found due to shipping and handling but are not considered defective or damaged for returns.'

In [24]:
df_subset = df_subset.drop_duplicates()

In [25]:
len(df_subset)

69896

In [26]:
df_subset = df_subset.reset_index(drop=True)

In [30]:
final_df = df_subset[['imUrl', 'title', 'description', 'description_new']]

In [31]:
final_df = final_df.drop_duplicates()

In [32]:
final_df = final_df.reset_index(drop=True)

In [33]:
final_df.to_csv('office_products.csv', index=False)